.lightboard {
  display: flex;
  justify-content: space-evenly;

  @media screen and (min-width: 768px) {
    height: 180px;
    padding: 0 55px;
  }

  &__row {
    @media screen and (min-width: 768px) {
      display: inline-block;
      width: 30%;
    }

    text-align: center;
  }

  &__number {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }
}